[alias]
  co = checkout
  ci = commit
  st = status --short --branch -u
  br = branch
  glog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
  please = push --force-with-lease
  cian = commit --amend --no-edit
  lumberjack = "!f(){\
    git branch | grep -v "master" | grep -v ^* | xargs git branch -D;\
  }; f"
  root = !pwd
[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  pager = diff-so-fancy | less --tabs=4 -RFX
  ignorecase = false
[user]
  name = name
  email = email
[push]
  default = current
[rerere]
  enabled = true
[tig "color"]
  cursor = black white dim
  title-focus = black white dim
  title-blur = white black dim
